<!DOCTYPE html>
<html>

<%- include partials/_header %>

<div class="hero-body">
  <div class="container has-text-centered">
    <h3 class="title is-2">
      Hello, You
    </h3>
    <h4 class="subtitle is-4">Let's have fun with Express.js for fun and profit.</h4>
    <a href="/create">Create</a> 路
    <a href="/list">List</a> 路
    <a href="/update">Update</a> 路
    <a href="/delete">Delete</a> 路
  </div>
</div>

<%- include partials/_footer %>
