<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CodingBad | Node/xA</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css" />
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon" />
  </head>
  <body>
    <section class="hero is-fullheight is-info">

      <div class="hero-head">
        <div class="container">
          <div class="tabs is-centered">
            <ul>
              <li><a href="/">Learn Node.js</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="hero-body">
        <div class="container has-text-centered">
          <h3 class="title is-2">
            Hello, You
          </h3>
          <h4 class="subtitle is-4">Let's have fun with Express.js for fun and profit.</h4>
          <a href="/create">Create</a> 路
          <a href="/list">List</a> 路
          <a href="/update">Update</a> 路
          <a href="/delete">Delete</a> 路
        </div>
      </div>

      <div class="hero-head">
        <div class="container">
          <div class="tabs is-centered">
            <ul>
              <li><a href="/">Learn Node.js</a></li>
            </ul>
          </div>
        </div>
      </div>

    </section>

  </body>
</html>
